 <div >
      <div class="container mt-5">
            <div class="section-head">
    <h1 class="text-center mb-5">Contact Us.</h1>
</div>
<div class="contact pb-5">
  <div class="container">
  <div class="row ">
    <div class="col-md-4 text-center">
      <div class="item yes">
        <i class="fa-solid fa-location-arrow icon fs-3 no" ></i>
        <h6>Address</h6>
        <p class="text-muted">6834 Hollywood Blvd - Los Angeles CA</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="item yes">
        <i class="fa-solid fa-envelope icon fs-3 no" ></i>
        <h6>Email</h6>
        <p class="text-muted">Support@website.com</p>
      </div>
    </div>
    <div class="col-md-4 text-center ">
      <div class="item yes">
        <i class="fa-solid fa-phone icon fs-3 no" ></i>
        <h6>Phone</h6>
        <p class="text-muted">+20 010 2517 8918</p>
      </div>
    </div>
  </div>
  </div>
</div>
<form class="pt-5 pb-5">
  <div class="container">
<div class="row">
  <div class="col-md-6">
    <div class="item">
      <input type="text" name="name" class="form-control form"   placeholder="Name">
    </div>
  </div>
  <div class="col-md-6">
    <div class="item">
      <input type="text" name="name" class="form-control form"    placeholder="Email">
    </div>
  </div>
  <div class="col-md-12">
    <div class="item">
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label" ></label>
  <textarea class="form-control form" id="exampleFormControlTextarea1" rows="4" placeholder="message" ></textarea>
</div>  
      <a href="" class="btn btn-dark    BUTON submit " > submit</a>

  </div>
  </div>

</div>
</div>

</form>
      </div>
    </div>
