<div class="container mt-5">
    <h1 class="fw-bold text-center mb-5">Gallery</h1>
    <h3 class="text-center " style="color: rgba(128, 128, 128, 0.699);">some ideas for Desktop</h3>
        <div class="w-75 mx-auto row g-3">
  <div class="row g-4 pb-5">
                  <div class="col-md-4">
                    <div class="item overflow-hidden">
                      <div class="card" style="width: rem;">
                        <div class="box position-relative w-100 overflow-hidden" >
                            <img src="../../assets/image/4.jpg" class="card-img-top rounded-0 w-100 z-n1" alt="...">
<div class="layer2  position-absolute">
  <i  class=" fa-brands fs-1 fa-facebook icooo"></i>
  <i  class=" fa-brands fa-xl fa-twitter ico icoo"></i>
  <i  class=" fa-brands fa-xl fa-pinterest ico icoo"></i>
  <i  class=" fa-brands fa-xl fa-linkedin ico icoo"></i>
</div>
                        </div>
  <div class=" our-team text-center rounded-bottom">
  </div>
</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="item">
                      <div class="card" style="width: rem;">
  <div class="box position-relative w-100 overflow-hidden" >
                            <img src="../../assets/image/5.jpg" class="card-img-top rounded-0 w-100 z-n1" alt="...">
<div class="layer2  position-absolute">
  <i  class=" fa-brands fs-1 fa-facebook icooo"></i>
  <i  class=" fa-brands fa-xl fa-twitter ico icoo"></i>
  <i  class=" fa-brands fa-xl fa-pinterest ico icoo"></i>
  <i  class=" fa-brands fa-xl fa-linkedin ico icoo"></i>
</div>
                        </div>
 
  <div class=" our-team text-center rounded-bottom">
  </div>
</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="item">
                      <div class="card" style="width: rem;">
    <div class="box position-relative w-100 overflow-hidden" >
                            <img src="../../assets/image/4.jpg" class="card-img-top rounded-0 w-100 z-n1" alt="...">
<div class="layer2  position-absolute">
  <i  class=" fa-brands fs-1 fa-facebook icooo"></i>
  <i  class=" fa-brands fa-xl fa-twitter ico icoo"></i>
  <i  class=" fa-brands fa-xl fa-pinterest ico icoo"></i>
  <i  class=" fa-brands fa-xl fa-linkedin ico icoo"></i>
</div>
                        </div>
  <div class=" our-team text-center rounded-bottom">
  </div>
</div>
                    </div>
                  </div>

                </div>